<a href="https://colab.research.google.com/github/gaurav1610/E-commerce-Analytics/blob/master/E_commerce_Analytics.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Predicting Customer Gender

## Importing Package

In [0]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.metrics import classification_report
from sklearn.metrics import f1_score
from sklearn.metrics import accuracy_score
from sklearn.metrics import recall_score
#Use LogisticRegression for classifier
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import RandomForestClassifier
#oversampling
from imblearn.over_sampling import SMOTE
from collections import Counter

### Importing dataset

In [426]:
cd /content/drive/My Drive/ML/E-commerce_data

/content/drive/My Drive/ML/E-commerce_data

In [0]:
train=pd.read_csv('train.csv')
test = pd.read_csv('test.csv')
full_data=pd.concat([train,test],axis=0,ignore_index=True)

In [428]:
full_data.tail()

      session_id  ... gender
14995     u23966  ...    NaN
14996     u20527  ...    NaN
14997     u13253  ...    NaN
14998     u17094  ...    NaN
14999     u24310  ...    NaN

[5 rows x 5 columns]

### Converting startTime and endTime into datetime format and splitting them into columns

In [429]:
full_data['startTime'] = pd.to_datetime(full_data['startTime'])
full_data['endTime'] = pd.to_datetime(full_data['endTime'])
full_data['duration'] = full_data['endTime'] - full_data['startTime']
full_data['duration'] = full_data['duration'].astype('timedelta64[m]')
full_data['weekday'] = full_data['startTime'].dt.dayofweek
full_data['hour_24h'] = full_data['startTime'].dt.hour
full_data.tail()

      session_id           startTime  ... weekday hour_24h
14995     u23966 2014-12-15 21:11:00  ...       0       21
14996     u20527 2014-02-12 07:53:00  ...       2        7
14997     u13253 2014-11-15 21:38:00  ...       5       21
14998     u17094 2014-12-17 08:51:00  ...       2        8
14999     u24310 2014-12-17 17:25:00  ...       2       17

[5 rows x 8 columns]

In [0]:
full_data['duration']=full_data.duration.astype(int)

In [431]:
full_data.shape

(15000, 8)

In [0]:
# full_data.set_index('session_id',inplace=False)

### Extracting category,sub_category,sub_sub_category,Product_code form Product List

In [433]:
full_data.ProductList[1]

'A00001/B00009/C00031/D29404/;A00001/B00009/C00031/D02617/;A00001/B00009/C00031/D29407/;A00001/B00009/C00031/D29410/;A00001/B00009/C00031/D29411/;A00001/B00009/C00031/D25444/;A00001/B00009/C00031/D29418/'

In [434]:
full_data.tail()

      session_id           startTime  ... weekday hour_24h
14995     u23966 2014-12-15 21:11:00  ...       0       21
14996     u20527 2014-02-12 07:53:00  ...       2        7
14997     u13253 2014-11-15 21:38:00  ...       5       21
14998     u17094 2014-12-17 08:51:00  ...       2        8
14999     u24310 2014-12-17 17:25:00  ...       2       17

[5 rows x 8 columns]

In [0]:
temp = full_data['ProductList'].str.split(';')

In [0]:
full_data = full_data.reindex(full_data.index.repeat(temp.apply(len)))

In [0]:
full_data['product_data'] = np.hstack(temp)

In [438]:
full_data.head()

  session_id           startTime  ... hour_24h                  product_data
0     u16159 2014-12-15 18:11:00  ...       18  A00002/B00003/C00006/D28435/
0     u16159 2014-12-15 18:11:00  ...       18  A00002/B00003/C00006/D02554/
0     u16159 2014-12-15 18:11:00  ...       18  A00002/B00003/C00006/D28436/
0     u16159 2014-12-15 18:11:00  ...       18  A00002/B00003/C00006/D28437/
1     u10253 2014-12-16 14:35:00  ...       14  A00001/B00009/C00031/D29404/

[5 rows x 9 columns]

In [0]:
full_data['category'] = full_data['product_data'].str.split('/').str[0]
full_data['sub_category'] = full_data['product_data'].str.split('/').str[1]
full_data['sub_sub_category'] = full_data['product_data'].str.split('/').str[2]
full_data['product'] = full_data['product_data'].str.split('/').str[3]

In [440]:
full_data.head()

  session_id           startTime  ... sub_sub_category product
0     u16159 2014-12-15 18:11:00  ...           C00006  D28435
0     u16159 2014-12-15 18:11:00  ...           C00006  D02554
0     u16159 2014-12-15 18:11:00  ...           C00006  D28436
0     u16159 2014-12-15 18:11:00  ...           C00006  D28437
1     u10253 2014-12-16 14:35:00  ...           C00031  D29404

[5 rows x 13 columns]

In [0]:
drop_lst = ['startTime', 'endTime', 'ProductList','product_data']

In [0]:
full_data = full_data.drop(drop_lst,axis =1 )

In [443]:
full_data.head()

  session_id  gender  duration  ...  sub_category  sub_sub_category product
0     u16159  female         1  ...        B00003            C00006  D28435
0     u16159  female         1  ...        B00003            C00006  D02554
0     u16159  female         1  ...        B00003            C00006  D28436
0     u16159  female         1  ...        B00003            C00006  D28437
1     u10253    male         6  ...        B00009            C00031  D29404

[5 rows x 9 columns]

In [0]:
df=full_data[['category','sub_category','sub_sub_category','product']]

In [0]:
df=pd.get_dummies(df)

In [446]:
df.head()

   category_A00001  category_A00002  ...  product_D36117  product_D36122
0                0                1  ...               0               0
0                0                1  ...               0               0
0                0                1  ...               0               0
0                0                1  ...               0               0
1                1                0  ...               0               0

[5 rows x 22360 columns]

In [0]:
final_df=pd.concat([full_data[['session_id','duration','weekday','hour_24h','gender']],df],axis=1)

In [448]:
final_df.head()

  session_id  duration  weekday  ...  product_D36116 product_D36117  product_D36122
0     u16159         1        0  ...               0              0               0
0     u16159         1        0  ...               0              0               0
0     u16159         1        0  ...               0              0               0
0     u16159         1        0  ...               0              0               0
1     u10253         6        1  ...               0              0               0

[5 rows x 22365 columns]

In [0]:
train_f=final_df[final_df.gender.notnull()]

In [450]:
train_f.head()

  session_id  duration  weekday  ...  product_D36116 product_D36117  product_D36122
0     u16159         1        0  ...               0              0               0
0     u16159         1        0  ...               0              0               0
0     u16159         1        0  ...               0              0               0
0     u16159         1        0  ...               0              0               0
1     u10253         6        1  ...               0              0               0

[5 rows x 22365 columns]

In [0]:
test_f=final_df[final_df.gender.isnull()]

In [452]:
test_f.head()

      session_id  duration  ...  product_D36117  product_D36122
10500     u12112         0  ...               0               0
10501     u19725         0  ...               0               0
10502     u11795         0  ...               0               0
10503     u22639         3  ...               0               0
10503     u22639         3  ...               0               0

[5 rows x 22365 columns]

In [0]:
X=train_f.drop(['gender','session_id'],axis=1)

In [0]:
Y =  train_f['gender'].map({'female':1,'male':0})

### **Train-Validation Splitting**:Further splitting train data into training and validation data

In [0]:
X_train, X_val, Y_train, Y_val = train_test_split(X, Y, test_size=0.3)

In [456]:
print(X.shape)
print(X_train.shape)
print(X_val.shape)

(23251, 22363)
(16275, 22363)
(6976, 22363)

## Tuning & selecting Model

In [0]:
import lightgbm as lgb

train_data = lgb.Dataset(X_train, label = Y_train)

#setting parameters for lightgbm
param = {'num_leaves':30, 'objective':'binary','max_depth':8,'learning_rate':.11, 'max_bin' : 200}
param['metric'] = ['auc', 'accuracy']

clf2 = lgb.train(param, train_data, 4000, verbose_eval=True)

In [458]:
clf = LogisticRegression(class_weight = {1:.25, 0:.35},max_iter=500)
clf.fit(X_train,Y_train)

LogisticRegression(C=1.0, class_weight={0: 0.35, 1: 0.25}, dual=False,
                   fit_intercept=True, intercept_scaling=1, l1_ratio=None,
                   max_iter=500, multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=None, solver='lbfgs', tol=0.0001, verbose=0,
                   warm_start=False)

In [459]:
print("Evalute based on validation set")
print("f1 : " + " %s" % f1_score(Y_val, clf.predict(X_val)))
print("accuracy score" + " %s" % accuracy_score(Y_val, clf.predict(X_val)))
print("recall score micro: " + " %s" % recall_score(Y_val, clf.predict(X_val), average='micro'))
print("recall score macro: " + " %s" % recall_score(Y_val, clf.predict(X_val), average='macro'))

Evalute based on validation set
f1 :  0.88384
accuracy score 0.7918577981651376
recall score micro:  0.7918577981651376
recall score macro:  0.5

In [0]:
X_val = X_val.astype(int)
Y_val = Y_val.astype(int)

In [461]:
clf2.predict(X_val).round()

array([1., 1., 1., ..., 1., 0., 1.])

In [462]:
print("Evalute based on validation set")
print("f1 : " + " %s" % f1_score(Y_val, clf2.predict(X_val).round()))
print("accuracy score" + " %s" % accuracy_score(Y_val, clf2.predict(X_val).round()))
# print("recall score micro: " + " %s" % recall_score(Y_val, clf2.predict(X_val)))
# print("recall score macro: " + " %s" % recall_score(Y_val, clf2.predict(X_val), average='macro'))

Evalute based on validation set
f1 :  0.9537826438122586
accuracy score 0.9261754587155964

In [463]:
test_f.head()

      session_id  duration  ...  product_D36117  product_D36122
10500     u12112         0  ...               0               0
10501     u19725         0  ...               0               0
10502     u11795         0  ...               0               0
10503     u22639         3  ...               0               0
10503     u22639         3  ...               0               0

[5 rows x 22365 columns]

In [0]:
X_test=test_f.drop(['session_id','gender'],axis=1)

In [291]:
X_test.head()

       duration  weekday  ...  product_D36117  product_D36122
10500         0        1  ...               0               0
10501         0        4  ...               0               0
10502         0        6  ...               0               0
10503         3        1  ...               0               0
10503         3        1  ...               0               0

[5 rows x 22363 columns]

In [0]:
PREDICTION=clf.predict(X_test)

In [293]:
PREDICTION

array([1, 1, 1, ..., 0, 1, 1])

In [0]:
PREDICTION=PREDICTION.tolist()

In [0]:
prediction=pd.DataFrame()

In [0]:
prediction['gender']=PREDICTION

In [0]:
gender_encoding={1:'female',0:'male'}

In [298]:
gender_encoding

{0: 'male', 1: 'female'}

In [0]:
Y =  []
for i in prediction['gender']:
    Y.append(gender_encoding[i])
    # print(i)

In [0]:
df=pd.DataFrame()
df['session_id']=test_f['session_id']
df['gender']=Y

In [392]:
df.session_id.unique()

array(['u12112', 'u19725', 'u11795', ..., 'u13253', 'u17094', 'u24310'],
      dtype=object)

In [0]:
pred=[]
for i in df.session_id.unique().tolist():
        pred.append(df.loc[df['session_id'] == i, 'gender'].iloc[0])

In [0]:
df1=pd.DataFrame()

In [0]:
df1['session_id']= df.session_id.unique().tolist()
df1['gender'] = pred

In [403]:
df1.head()

  session_id  gender
0     u12112  female
1     u19725  female
2     u11795  female
3     u22639  female
4     u18034  female

In [0]:
df1.to_csv('/content/drive/My Drive/ML/E-commerce_data/sample_submission.csv',index=False)